<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Test website</title>
    </script>
    <meta
      name="description"
      content="A test website for Deck's Github App"
    />
    <meta name="author" content="petercrackthecode" />

    <meta property="og:title" content="Test website" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="A test website for Deck's Github App"
    />
    <meta property="og:image" content="image.png" />

    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="stylesheet" href="css/styles.css?v=1.0" />
  </head>

  <body>
    <h1>An error has occurred</h1>
  </body>
</html>
